.App {
  text-align: center;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav > a {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
